#dependencies
node_modules

#environment
.env

#next-files
.next

#distribution
dist

.env.local

.env.production

.env.staging

# Local Netlify folder
.netlify

.env.deploy

.env.development

.env.production.notes
.notes

# Build directories
.sanity
fresh_sanity_studio/dist
fresh_sanity_studio/.sanity

# Cache
.cache
tsconfig.tsbuildinfo
